@font-face {
    font-family: '悄悄喜欢你';
    src: url('/ACU_fonts/悄悄喜欢你.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '小可奶酪体';
    src: url('/ACU_fonts/小可奶酪体.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: '悄悄喜欢你', '小可奶酪体','Noto Sans SC', '思源黑体', 'Microsoft YaHei', Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-user-select: auto;
    user-select: auto;
}

.ACU_background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}
.ACU_background-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    background: #000;
}